.text-daily{font-size:20px;font-weight:500;line-height:30px;letter-spacing:-0.017em;text-align:left;}


.attend{width:160px;height:33px;padding:6px 16px;gap:4px;opacity:0;font-size:14px;font-weight:500;line-height:21px;letter-spacing:-0.006em;color:rgba(245,245,245,1);border-radius:8px;}


.attends{width:160px;height:33px;padding:6px 16px;gap:4px;border:1px solid #a2a7abb5!important;background:rgba(255,255,255,1);color:black;font-size:14px;font-weight:500;line-height:21px;border-radius:8px;opacity:0;}


table th {
  background-color: rgba(245, 245, 245, 1) !important;
  border-right: 1px solid rgba(224, 224, 224, 1);
}

.searching input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 10px;
  padding: 0px 8px;
  border: 1px solid rgba(194, 194, 194, 1);
}

.searching {
  display: flex;
  position: relative;
  width: fit-content;
}

.announce {
  background-color: white;
  border-radius: 8px;
}

.profiles
  .MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.MuiTablePagination-toolbar.css-16og44m-MuiToolbar-root-MuiTablePagination-toolbar {
  --Paper-shadow: none !important;
}

.tabline {
  background-color: white;
  border-radius: 8px;
}

/* Dropdown container */
.editdropdown {
  position: relative;
  display: inline-block;
  z-index: 1;
}

/* Dropdown button (the ellipsis icon) */
.editdropdown-button {
  color: #000;
  padding: 10px;
  border: none;
  cursor: pointer;
}

/* The dropdown menu itself */
.editdropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 10;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #ddd;
}

/* Show the dropdown menu when hovering over the editdropdown */
.editdropdown:hover .editdropdown-menu {
  display: block;
}

/* Menu items styling */
.editdropdown-menu a,
.editdropdown-menu div {
  padding: 8px 16px;
  display: block;
  color: #000;
}

/* Add a hover effect for the menu items */
.editdropdown-menu a:hover,
.editdropdown-menu div:hover {
  background-color: #ddd;
}

th.MuiTableCell-root.MuiTableCell-head.MuiTableCell-stickyHeader.MuiTableCell-alignCenter.MuiTableCell-sizeMedium.css-clczij-MuiTableCell-root {
  min-width: 120px;
}

th.MuiTableCell-root.MuiTableCell-head.MuiTableCell-stickyHeader.MuiTableCell-sizeMedium.css-1u6ck2-MuiTableCell-root {
  min-width: 120px;
}

.dept {
  border-radius: 0px !important;
  border: 1px solid rgba(194, 194, 194, 1);
}

.duration {
  border-radius: 0px !important;
  border: 1px solid rgba(194, 194, 194, 1);
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.apply {
  border-radius: 0px !important;
  border: 1px solid rgba(194, 194, 194, 1);
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.profile .apply .nav-pills .nav-link.active {
  border-radius: 0px !important;
  padding: 10px !important;
  color: rgba(20, 106, 220, 1) !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  background: rgba(208, 225, 248, 1) !important;
}
.duration .nav-pills .nav-link.active {
  border-radius: 0px !important;
  padding: 10px !important;
  color: rgba(20, 106, 220, 1) !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  background: rgba(208, 225, 248, 1) !important;
}

.dept .nav-pills .nav-link.active {
  border-radius: 0px !important;
  padding: 10px !important;
  color: rgba(20, 106, 220, 1) !important;
  background: rgba(208, 225, 248, 1) !important;
}

.nav-pills .nav-link {
  padding: 10px;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.373rem 0.75rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: -8.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border-radius: 0.25rem;
  right: 10px !important;
  top: 13px !important;
}
.form-select {
  display: block;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  appearance: none;
}
