h6 {
  font-size: 1rem;
  font-weight: bolder;
}

thead {
  background-color: rgba(224, 224, 224, 1);
}

.topic th {
  border-right: 1px solid rgba(245, 245, 245, 1);
}

.text_gap {
  font-size: x-small;
  color: rgba(158, 158, 158, 1);
}

.timeLogBox .active {
  background: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.main_pages {
  background: white;
  border: 2px solid rgb(208, 210, 210);
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #f2f2f2;
  line-height: 118px;
  text-align: center;
  margin-left: 10%;
  font-size: 2rem;
  font-weight: bold;
  background: white;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  position: relative;
}

.working {
  padding: 24px;
  background-color: rgb(223, 240, 255);
  margin-top: -18px;
}

.nav-tabs .nav-link {
  border: none;
  background: none;
  border-bottom: 3px solid rgb(238, 247, 255);
}

.absence {
  background-color: rgb(238, 247, 255);
}
.dropdown-menu {
  background-color: #253d90;
  color: white !important;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 0rem !important;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  text-align: center;
  list-style: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.dropdown-menu svg {
  width: 20px;
}
.dropdown {
  position: relative;
  /* width: 50%; */
  margin-left: 64%;
}
.dropdown_menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 14px;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  text-align: start;
}

.total {
  border-right: 1px solid rgba(224, 224, 224, 1);
}
.processing {
  width: 243px;
  height: 77px;
  padding: 10px;
  text-align: center;
}

.rs-calendar-panel.rs-calendar-compact
  .rs-calendar-table-row:not(.rs-calendar-table-header-row)
  .rs-calendar-table-cell-content {
  height: 40px;
}

.rs-calendar-table-cell-content {
  padding: 3px;
}
.rs-calendar-panel .rs-calendar-table-cell-day {
  margin-top: 0px;
}
