/* Attendance Page Design */
.regular,
.early,
.late,
.leave {
  border-radius: 9px 9px 0 0;
  border: 2px solid blue;
  border-bottom: none;
  background: #d0e1f8;
  /* position: absolute;
  bottom: 5%; */
}

/* .regular {
  height: 90%;
}
.early {
  height: 65%;
  right: 51%;
}
.late {
  height: 34%;
  right: 26%;
}
.leave {
  height: 10%;
  right: 2%;
} */

.emtChart {
  position: absolute;
  bottom: 20px;
  text-align: center;
}

.chartParent {
  position: relative;
  display: flex;
  padding: 20px;
  width: 100%;
  height: 400px;
  align-items: end;
}

/* Sidebar Style */
.sidetext {
  background: #f4f4f4;
}

.sidetext button {
  border: none;
}

ul {
  list-style: none;
}

.nav-item.active {
  background: #e0e0e0;
}

.selected {
  border-bottom: 3px solid #146adc;
  border-radius: 2px;
  padding: 10px;
  font-weight: 500;
  color: black !important;
  display: flex;
  align-items: center;
}

/* PaySlip Design */
.payslipParent {
  display: flex;
  align-items: center;
  gap: 8px;
  overflow-x: scroll;
}

.payslipParent > * {
  cursor: pointer;
  height: 37px;
  padding: 12px 5px;
  margin: 5px 10px;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.dateInput {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #d7d7d7;
}

/* Leave Design */
.leaveBoard {
  display: flex;
  width: 98%;
  margin: 0 auto;
  padding: 13px;
  border-radius: 10px;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  justify-content: space-between;
  border: 2px solid #e7e7e7;
}

.leaveData {
  /* width: 33%; */
  margin: 10px;
  border-right: 2px solid #e7e7e7;
}

.leaveDays {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}
.leaveDaysDesc {
  font-size: 12px;
  color: #b0b0b0;
  text-align: left;
}
.leaveTitle {
  font-size: 20px;
  font-weight: 600;
}

/* PayRun Design */
.payrunNotification {
  display: flex;
  margin: 6px auto;
  padding: 10px;
  border: 2px solid #146adc;
  background: #d0e1f8;
  border-radius: 7px;
}

.payrunInput {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #c2c2c2;
  background: none;
}

/* Salary Design */
.salaryCard {
  width: 95%;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  border-bottom: 2px solid #e0e0e0;
}

.salaryDetails {
  display: flex;
  gap: 13px;
}

.salaryFont {
  font-size: 16px;
  font-weight: 700;
  color: green;
}
.mainSalaryFont {
  font-size: 28px;
  font-weight: 500;
  color: green;
}
.amountFont {
  font-size: 12px;
  color: #757575;
}

/* History Design */
.historyCard,
.payslipInfoCard {
  padding: 10px 25px;
  margin: 13px 0;
  background: white;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}

.historyCard > * {
  padding: 15px 0px;
}

.historyCardText {
  width: 121px;
  font-size: 14px;
  text-align: center;
}
