.webnxs {
  background: white;
  padding: 4px 3px;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1000;
  height: var(--header-height);
}

.sidebarIcon {
  display: none;
}

@media (max-width: 768px) {
  .sidebarIcon {
    display: flex;
  }
}

.organization_logo {
  object-fit: cover;
}

.bell > .messageCount {
  position: absolute;
  top: -5px;
  left: 6px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: red;
  color: white;
  padding: 2px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  font-size: 10px;
}

.closeBtn {
  position: absolute;
  right: 10px;
  top: 10px;
}
.remove {
    animation: fadeOut 0.3s forwards;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; height: 0; padding: 0; margin: 0; }
}