.webnxs {
  background: white;
  padding: 4px 3px;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1000;
  height: var(--header-height);
}

.sidebarIcon {
  display: none;
}

@media (max-width: 768px) {
  .sidebarIcon {
    display: flex;
  }
}

.organization_logo {
  object-fit: cover;
}
