@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  font-display: swap;
}

.marTop {
  margin-top: 30px;
}

@media (max-width: 576px) {
  .marTop {
    margin-top: 70px;
  }
}

h1 {
  line-height: 0px !important;
}

:root {
  --header-height: fit-content;
}

body {
  margin: 0;
  box-sizing: border-box;
  background: #f5f5f5 !important;
}

.NameLetter,
.clockinsParent,
.leaveReq,
.leaveOption,
.nameHolder,
.hoverStyle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nameHolder {
  background-color: #4b70f5;
  color: white;
  text-transform: uppercase;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.hoverStyle:hover,
.nameHolder:hover {
  background-color: #a7e6ff;
  color: black;
}

label {
  display: inline-block;
}

.notFoundText {
  height: 40vh;
  /* margin: auto; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  color: red;
}

a {
  text-decoration: none !important;
  color: white;
}

.tabParent > * {
  padding: 5px !important;
}

.outline-btn,
.button {
  padding: 9px 12px;
  font-size: 13px;
  border-radius: 5px;
  font-weight: 500;
  width: fit-content;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px, rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.outline-btn {
  border: 2px solid black;
  background: white;
  color: black;
  height: fit-content;
}

.button {
  cursor: pointer;
  /* margin: auto 15px auto auto !important; */
  background: black;
  border: none;
  color: white;
}

.button:disabled {
  background-color: #b1b1b1;
  color: white;
}

.button:disabled:hover {
  background-color: #b1b1b1;
}

.button:hover {
  background-color: white;
  color: black;
}

.outline-btn:hover {
  background-color: black;
  color: white;
}

::-webkit-scrollbar {
  width: 0px;
}

/* .blue_bg {
  border-radius: 10px;
  padding: 10px;
  background-color: #caf4ff;
} */

.good,
.time,
.allowance,
.employee,
.leaveContainer,
.attendanceFile {
  background: rgba(255, 255, 255, 1);
  padding: 8px 16px;
  /* gap: 8px; */
  border-radius: 8px;
  margin-top: 24px;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.good .btn {
  font-size: 11px;
}

.allowance {
  margin-top: 19px;
}

.leaveIndicatorTxt {
  color: #404040;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.011em;
  text-align: center;
}

.empActivies {
  width: 100%;
  padding: 10px;
}

.summary {
  width: 50%;
}

.graphParent {
  width: 50%;
}

.custom-dropdown {
  position: relative;
  width: 200px;
  border-radius: 4px;
}

.dropdown-header {
  height: 50px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #feffda;
  border: none;
  font-size: 18px;
  font-weight: 600;
  color: black;
}

.dropdown-header > * {
  padding: 5px;
}

.dropdown-list {
  position: absolute;
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  list-style: none;
  margin-top: 3px;
  padding: 0;
  z-index: 1000;
}

.dropdown-list li {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.optionList {
  background-color: #e8e8e8;
  width: 100%;
  padding: 7px;
  border-radius: 3px;
}

.dropdown-list li:hover {
  background-color: #f0f0f0;
}

.dropdown-list li svg {
  margin-right: 10px;
}

.custom-dropdown.disabled .dropdown-header {
  background-color: #f0f0f0;
  cursor: not-allowed;
}

.leaveIndicator,
.summary {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaveIndicator > * {
  margin: 2px;
}

.btn-light {
  border: 1px solid #e1dddd;
  border-left: none;
  background-color: white;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border: 1px solid #e8e8e8;
}

.borderDesign {
  border: 1px solid blue;
  width: 100px;
  height: 50px;
}

.borderDesign::after {
  content: "sasa";
  height: 100%;
  width: 100px;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 52% 100%, 81% 51%, 55% 1%);
  background-color: rgb(12, 12, 12);
  border: 2px solid gray;
}

.box {
  border-radius: 7px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  height: 100%;
  cursor: pointer;
}

.btn-light {
  border: 1px solid #e1dddd;
  border-left: none;
  background-color: white;
}

.MuiButtonBase-root.nxtBtn {
  margin-left: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.clockins {
  /* margin-top: 72px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clockinsParent > * {
  margin: 0px 5px;
}

.clockins > * {
  margin: 10px;
}

.selecter {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background: #feffda;
}

.btnParent > * {
  margin: 5px;
}

.timer {
  border-radius: 5px;
  width: 110px;
  height: 50px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
}

.btnContainer > * {
  margin: 10px;
}

.emptyField {
  border-color: red !important;
  box-shadow: 0 0 0 0.2rem rgb(207 77 79 / 25%) !important;
  outline: 0;
}

.empCard {
  height: 100px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  width: 45%;
  padding: 10px;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 600px !important;
  }
}

.empSelect {
  cursor: pointer;
  width: 47%;
  margin: 10px;
  border: 2px solid rgb(206, 211, 217);
  padding: 0px 32px;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  height: 70px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
}

/* Add employee style */

.empForm {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.catogaries-container {
  margin-top: 15px;
  width: 38%;
  position: relative;
}

.detailsParent {
  width: 60%;
}

.catogaries {
  margin: 0px 15px;
  padding: 13px;
  border-radius: 10px;
  background-color: white;
  height: fit-content;
  position: sticky;
  top: 82px;
}

.catogary {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 50px;
  margin: 10px;
  color: #2d2d2d;
  font-weight: 400;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
  background: #f4f4f4;
}

.catogary:hover,
.leaveOption:hover,
.optionList:hover,
.view {
  background-color: black !important;
  color: white;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
}

.detailsParent > * {
  margin: 15px 5px;
}

.personalDetails,
.contactDetails,
.financialDetails,
.employementDetails,
.jobDetails,
.payslipDetails,
.tableParent {
  position: relative;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
}

.titleTextLabel {
  font-size: 14px;
  text-align: center;
}

.titleText {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  margin: 15px 0px;
}

.timeIndicator {
  font-size: 15px;
  position: absolute;
  right: 8%;
  top: 24%;
  font-weight: bold;
}

.editIcon {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 6%;
  top: 6%;
}

.btnBackground {
  width: 100%;
  text-align: center;
  background: #f4f4f4;
  position: fixed;
  height: 50px;
  bottom: 0px;
  display: flex;
  justify-content: center;
}

.fixedPositionBtns {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 20%;
  gap: 15px;
}

/* EmpManagement  */

.filterExport {
  display: flex;
  align-items: center;
}

.filterExport > * {
  padding: 10px;
}

.dropdown-menu {
  background-color: #253d90;
  color: white !important;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 0rem !important;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  text-align: center;
  list-style: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.searchIcon {
  position: absolute;
  right: 10px;
  top: 7px;
}

.rs-anim-fade.rs-anim-in.rs-picker-popup-multi-cascader.rs-picker-popup.placement-bottom-start {
  position: absolute;
  z-index: 1080;
}

.close {
  background: transparent;
}

/* src/style.css */

.progress {
  height: 9px;
}

.progress-circle {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 20px auto;
}

.progress-ring {
  border-radius: 50%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transform: rotate(-90deg);
  position: absolute;
  top: 0;
  left: 0;
}

.progress-ring__circle {
  background-color: white;
  transition: stroke-dashoffset 0.35s;
  transform: rotate(0deg);
  transform-origin: 50% 50%;
}

.timeLogBox {
  background: rgba(245, 245, 245, 1);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 8px;
  padding: 8px 16px;
}

.progress-input {
  position: absolute;
  width: 80px;
  height: 40px;
  border: none;
  top: 29%;
  right: 16%;
  font-size: 2rem;
  text-align: center;
  background: transparent;
  color: black;
  font-weight: bold;
  z-index: 2;
  outline: none;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

textarea.form-control {
  min-height: calc(1.5em + (0.75rem + 2px));
}

.message-textarea {
  height: 160px;
  resize: vertical;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* NoInternet style */
.noConnectionImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.searchInputIcon {
  display: flex;
  justify-content: flex-start;
  padding: 16px;
  margin-left: -6px;
}

.searchInputIcon input[type="text"] {
  /* background-image: url(''); Add icon URL or path */
  background-position: 15px center;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  width: 300px;
  /* Adjust as needed */
  font-size: 16px;
}
