.clockins {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clockinsParent > * {
  margin: 0px 5px;
}

.graphParent {
  width: 50%;
}

.leaveIndicator > * {
  margin: 2px;
}

.dropdown-list {
  position: absolute;
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  list-style: none;
  margin-top: 3px;
  padding: 0;
  z-index: 1000;
}

.dropdown-list li {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-list li:hover {
  background-color: #f0f0f0;
}

.dropdown-list li svg {
  margin-right: 10px;
}

.custom-dropdown.disabled .dropdown-header {
  background-color: #a5a5a5;
  cursor: not-allowed;
}

.timerText {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
}

.timerTxt {
  font-size: 17px;
  font-weight: 700;
}

.punchBtn {
  width: 39px;
  height: 39px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.punchBtnParent {
  display: flex;
}

.punchBtnParent > * {
  margin: 5px;
}

.dropdown-arrow {
  margin-left: auto; /* Ensures the arrow is aligned to the right */
}
