.leaveFormContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* NoInternet style */
.noConnectionImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.searchInputIcon {
  display: flex;
  justify-content: flex-start;
  padding: 16px;
  margin-left: -6px;
}

.btnBackground {
  width: 100%;
  text-align: center;
  background: #f4f4f4;
  position: fixed;
  height: 50px;
  bottom: 0px;
  display: flex;
  justify-content: center;
}

.fixedPositionBtns {
  display: flex;
  align-items: center;
  /* width: 20%; */
  gap: 15px;
}

.leaveFormParent {
  background-color: white;
  padding: 40px;
  margin: 50px 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.heading {
  text-align: center;
  margin: 10px 0px;
}

.rsuite_selector > * {
  background-color: #f4f4f4;
  border-radius: 15px;
  margin-top: 0px;
  /* height: 50px; */
  padding: 7px;
  z-index: 0 !important;
}

.rsuite_selector_disabled > * {
  background-color: #f7f7fa;
  border-radius: 15px;
  height: 50px !important;
  padding: 7px;
  z-index: 0 !important;
}

.selectInput,
.inputField,
.fileInput {
  width: 100%;
  background-color: #f4f4f4;
  border: none;
  border-radius: 15px;
  height: 50px;
}

.react-datepicker-wrapper {
  width: 100%;
}

.selectInput > * {
  width: 250px !important;
  appearance: none;
  background-color: #f4f4f4 !important;
  border: none;
  border-radius: 15px !important;
  height: 50px;
  border: none;
  margin-top: 10px;
  display: flex;
  align-items: center;
  z-index: 1 !important;
}

.selectInput > .rs-picker-toggle {
  margin-top: 0px;
}

.selectInput,
.inputField {
  padding: 0 15px;
  appearance: none;
}

.error {
  border: 2px solid #ec8282;
}

input[type="file"]::file-selector-button {
  background-color: black;
  color: white;
  border: none;
  width: 120px;
  padding: 5px;
  height: 100%;
  cursor: pointer;
}

.rs-picker-toggle.rs-btn {
  width: 100% !important;
}

.inputLabel {
  margin: 10px;
  font-size: 14px;
  font-weight: 400;
}

/* Twotabs styles */
.leaveReq {
  width: 100%;
  padding: 5px;
  margin: 5px 0px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

/* Employee page style */
.rs-picker-tag-lg .rs-picker-textbox {
  min-height: fit-content;
}
