/* .main-sidebar {
    width: fit-content;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #0A2233;
    color: white;
} */

.dashBoard {
  display: flex;
  width: 100%;
}

.leftCard {
  width: 70%;
  margin-right: 10px;
}

.rightCard {
  width: 30%;
}

.brand-link {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #1a2238;
  text-decoration: none;
  color: white;
}

.brand-link img {
  margin-right: 10px;
}

.brand-text {
  font-weight: lighter;
}

.navbar-ul li {
  margin-left: 0px;
}



input[type="number"]::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bold {
  font-weight: bold;
  color: #01204e;
}

.MuiButtonBase-root.rosebtnRose {
  background-color: #ff0080;
  color: white;
  margin: 10px;
}


@media (max-width: 320px) {
  .card-cont {
    font-size: 10px;
  }
}


a {
  text-decoration: none;
}
.sm {
  width: 50%;
}

.md {
  width: 68%;
}
.navigate {
  position: absolute;
  top: 26%;
  left: 12%;
  font-size: smaller;
}

.btm-center {
  background: rgba(245, 246, 246, 0.5);
}

.txt {
  font-weight: 600;
}
/* .MuiButtonBase-root.btnRose{
      background-color: #FF0080;
      margin-left: 10px;
      color: white;
    }
    .MuiButtonBase-root.btnRose:hover{
        background-color: #f9afd4;
        color: #01204E;
    } */
/* .btnRose-outline{
      border: 1px solid #FF0080;
      color: #FF0080;
    } */


