.dashBoard {
  display: flex;
  width: 100%;
}

.leftCard {
  width: 70%;
  margin-right: 10px;
}

.rightCard {
  width: 30%;
}

.brand-link {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #1a2238;
  text-decoration: none;
  color: white;
}

.brand-link img {
  margin-right: 10px;
}

.brand-text {
  font-weight: lighter;
}

.navbar-ul li {
  margin-left: 0px;
}

input[type="number"]::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bold {
  font-weight: bold;
  color: #01204e;
}

.MuiButtonBase-root.rosebtnRose {
  background-color: #ff0080;
  color: white;
  margin: 10px;
}

@media (max-width: 320px) {
  .card-cont {
    font-size: 10px;
  }
}

a {
  text-decoration: none;
}
.sm {
  width: 50%;
}

.md {
  width: 68%;
}
.navigate {
  position: absolute;
  top: 26%;
  left: 12%;
  font-size: smaller;
}

.btm-center {
  background: rgba(245, 246, 246, 0.5);
}

.txt {
  font-weight: 600;
}

.boxContainer-parent {
  background: rgba(245, 245, 245, 1);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 48%;
}
.hr_border {
  width: 100%;
  border: 1px solid white;
  margin: 2px 0px;
}
